@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-barra-lateral: rgb(252, 252, 252);

    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 136, 144);

    --color-menu-hover: rgb(238, 238, 238);
    --color-menu-hover-texto: rgb(0, 0, 0);

    --color-boton: rgb(0, 0, 0);
    --color-boton-texto: rgb(255, 255, 255);

    --color-linea: rgb(180, 180, 180);

    --color-switch-base: rgb(201, 202, 206);
    --color-switch-circulo: rgb(241, 241, 241);

    --body: rgb(255, 255, 255);

    --sombra: 2px solid #a3a3a3;

    --texto2: rgb(76, 131, 214);
    --texto3: rgb(255, 255, 255);

    --efecto-modal: rgba(44, 45, 49, 0.4);
    --fondo-modal: rgb(255, 255, 255);
    --cerrar-modal: rgb(255, 52, 52);
}

.dark-mode {
    --color-barra-lateral: rgb(44, 45, 49);

    --color-texto: rgb(255, 255, 255);
    --color-texto-menu: rgb(110, 110, 117);

    --color-menu-hover: rgb(0, 0, 0);
    --color-menu-hover-texto: rgb(238, 238, 238);

    --color-boton: rgb(255, 255, 255);
    --color-boton-texto: rgb(0, 0, 0);

    --color-linea: rgb(90, 90, 90);

    --color-switch-base: rgb(30, 205, 64);
    --color-switch-circulo: rgb(255, 255, 255);

    --body: rgb(37, 37, 37);

    --sombra: 2px solid #d9d9d9;

    --texto2: rgb(76, 131, 214);
    --texto3: rgb(255, 255, 255);

    --efecto-modal: rgba(255, 255, 255, 0.4);
    --fondo-modal: rgb(44, 45, 49);
    --cerrar-modal: rgb(255, 52, 52);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--body);
    color: var(--color-texto);
}

body::-webkit-scrollbar {
    display: none;
}

.menu {
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    right: 15px;
    top: 15px;
    z-index: 100;
}

.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    color: var(--color-texto);
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
}

.barra-lateral .nombre {
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.barra-lateral .nombre img {
    min-width: 50px;
    min-height: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.barra-lateral .nombre span {
    margin-left: 5px;
    font-size: 25px;
}

.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.barra-lateral .navegacion::-webkit-scrollbar {
    display: none;
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.barra-lateral .navegacion ion-icon {
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .linea {
    width: 100%;
    height: 1px;
    background-color: var(--color-linea);
    margin-top: 15px;
}

.barra-lateral .modo-obscuro {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.barra-lateral .modo-obscuro .info {
    width: 150px;
    height: 45px;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--color-texto-menu);
}

.barra-lateral .modo-obscuro ion-icon {
    width: 50px;
    font-size: 20px;
}

.barra-lateral .modo-obscuro .switch {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    height: 45px;
    cursor: pointer;
}

.barra-lateral .modo-obscuro .base {
    position: relative;
    display: flex;
    align-items: center;
    width: 35px;
    height: 20px;
    background-color: var(--color-switch-base);
    border-radius: 50px;
}

.barra-lateral .modo-obscuro .base .circulo {
    position: absolute;
    width: 18px;
    height: 90%;
    background-color: var(--color-switch-circulo);
    border-radius: 50%;
    left: 2px;
    transition: left 0.5s ease;
}

.barra-lateral .modo-obscuro .circulo.prendido {
    left: 15px;
}

#home {
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

main {
    margin-left: 320px;
    padding: 20px;
    transition: margin-left 0.5s ease;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

main.min-main {
    margin-left: 80px;
}

main section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main #home-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

main #home-section img {
    width: 300px;
    height: 300px;
}

main #home-section h1 {
    font-size: 30px;
}

main #home-section span {
    font-size: 20px;
    text-align: center;
}

main #home-section .socialmedia {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

main #home-section .socialmedia .boton {
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transition: all 0.5s ease;
    /* Transición suave */
}

main #home-section .socialmedia .boton p {
    font-size: 20px;
    font-weight: 600;
    display: none;
    transition: all 0.5s ease;
}

main #home-section .socialmedia .boton ion-icon {
    font-size: 20px;
    font-weight: 600;
}

main #home-section .socialmedia .boton:hover {
    width: 200px;
    height: 60px;
    border-radius: 80px;
}

main #home-section .socialmedia .boton:hover p {
    display: block;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1) ease;
}

main #serhab-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

main #serhab-section h1 {
    font-size: 30px;
    font-weight: bold;
}

main #serhab-section .serhab-container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    overflow: hidden;
}

main #serhab-section .serhab-container span {
    font-size: 23px;
    font-weight: 500;
    font-style: oblique;
    text-align: justify;
}

main #serhab-section .serhab-container .grid {
    width: 100%;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

main #serhab-section .serhab-container .grid .cont {
    width: 100%;
    overflow: hidden;
}

main #serhab-section .serhab-container .grid .card {
    width: 100%;
    border: var(--sombra);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
    gap: 20px;
    padding: 20px;
}

main #serhab-section .serhab-container .grid .card:hover {
    cursor: pointer;
}

main #serhab-section .serhab-container .grid .card ion-icon {
    font-size: 30px;
    color: var(--texto2);
}

main #serhab-section .serhab-container .grid .card span {
    font-size: 20px;
    font-weight: 500;
}

body.bloquear-scroll {
    overflow: hidden;
}

main #serhab-section .serhab-container .grid .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: var(--efecto-modal);
    justify-content: center;
    align-items: center;
}

main #serhab-section .serhab-container .grid .modal.mostrar {
    display: flex;
}

main #serhab-section .serhab-container .grid .modal-container {
    width: 60%;
    overflow: hidden;
    background: var(--fondo-modal);
    color: var(--color-texto);
    border-radius: 10px;
    position: relative;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
}

main #serhab-section .serhab-container .grid .modal-container .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid var(--color-linea);
}

main #serhab-section .serhab-container .grid .modal-container .modal-header .sep {
    display: flex;
    align-items: center;
    gap: 10px;
}

main #serhab-section .serhab-container .grid .modal-container .modal-header .sep ion-icon {
    color: var(--texto2);
    font-size: 25px;
}

main #serhab-section .serhab-container .grid .modal-container .modal-header .sep h1 {
    font-size: 25px;
}

main #serhab-section .serhab-container .grid .modal-container .modal-header .cerrar {
    font-size: 20px;
    cursor: pointer;
    color: var(--cerrar-modal);
}

main #serhab-section .serhab-container .grid .modal-container .modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body p {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo {
    display: flex;
    gap: 10px;
    align-items: center;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo ion-icon {
    font-size: 20px;
    color: var(--texto2);
}

main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo span {
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo span {
    font-size: 20px;
    font-style: normal;
    text-align: left;
}

main #serhab-section .serhab-container .grid .modal-container .modal-body a {
    background-color: var(--texto2);
    color: var(--texto3);
    font-weight: bold;
    text-decoration: none;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 20px;
}

@media (min-height: 660px) {
    .barra-lateral .nombre {
        margin-bottom: 5px;
    }

    .barra-lateral .modo-obscuro {
        margin-bottom: 3px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -320px;
    }

    .max-barra-lateral {
        left: 0;
    }

    .menu {
        display: flex;
    }

    .menu ion-icon:nth-child(2) {
        display: none;
    }

    main {
        margin-left: 0;
    }

    main.min-main {
        margin-left: 0;
    }

    main #home-section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    main #home-section img {
        width: 350px;
        height: 350px;
    }

    main #home-section h1 {
        font-size: 25px;
    }

    main #home-section span {
        font-size: 15px;
        text-align: center;
    }

    main #home-section .socialmedia {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    main #home-section .socialmedia .boton {
        background-color: var(--color-boton);
        color: var(--color-boton-texto);
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 50px;
        max-height: 50px;
        width: 90%;
        max-width: 90%;
        border-radius: 80px;
        transition: all 0.5s ease;
        /* Transición suave */
    }

    main #home-section .socialmedia .boton p {
        font-size: 15px;
        font-weight: 600;
        display: block;
    }

    main #home-section .socialmedia .boton ion-icon {
        font-size: 15px;
    }

    main #home-section .socialmedia .boton:hover {
        height: 50px;
        max-height: 50px;
        width: 90%;
        max-width: 90%;
    }

    main #serhab-section {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    main #serhab-section h1 {
        font-size: 25px;
        font-weight: bold;
    }

    main #serhab-section .serhab-container {
        width: 100%;
        display: flex;
        gap: 20px;
        flex-direction: column;
        overflow: hidden;
    }

    main #serhab-section .serhab-container span {
        font-size: 15px;
        font-weight: 500;
        font-style: oblique;
        text-align: justify;
    }

    main #serhab-section .serhab-container .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }

    main #serhab-section .serhab-container .grid .cont {
        width: 100%;
        overflow: hidden;
    }

    main #serhab-section .serhab-container .grid .card {
        width: 100%;
        border: var(--sombra);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        border-radius: 8px;
        padding: 15px;
        gap: 10px;
    }

    main #serhab-section .serhab-container .grid .card ion-icon {
        font-size: 25px;
        color: var(--texto2);
    }

    main #serhab-section .serhab-container .grid .card span {
        font-size: 15px;
        font-weight: 500;
    }

    body.bloquear-scroll {
        overflow: hidden;
    }

    main #serhab-section .serhab-container .grid .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        background-color: var(--efecto-modal);
        justify-content: center;
        align-items: center;
    }

    main #serhab-section .serhab-container .grid .modal.mostrar {
        display: flex;
    }

    main #serhab-section .serhab-container .grid .modal-container {
        width: 80%;
        overflow: hidden;
        background: var(--fondo-modal);
        color: var(--color-texto);
        border-radius: 10px;
        position: relative;
        pointer-events: auto;
        display: flex;
        flex-direction: column;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 15px;
        border-bottom: 2px solid var(--color-linea);
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-header .sep {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-header .sep ion-icon {
        color: var(--texto2);
        font-size: 20px;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-header .sep h1 {
        font-size: 20px;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-header .cerrar {
        font-size: 20px;
        cursor: pointer;
        color: var(--cerrar-modal);
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body {
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body p {
        font-size: 15px;
        font-weight: 500;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo ion-icon {
        font-size: 15px;
        color: var(--texto2);
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body .lista-padre .lista-hijo span {
        font-size: 15px;
        font-style: normal;
        text-align: left;
    }

    main #serhab-section .serhab-container .grid .modal-container .modal-body a {
        background-color: var(--texto2);
        color: var(--texto3);
        font-weight: bold;
        text-decoration: none;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
    }
}